In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("YoungClimateLeaders.csv", on_bad_lines="skip");
df.head()

,Id,Start time,Completion time,Email,Name,Full name,Email.1,Age,Nationality,Gender,Do you need a visa to travel to Brussels? Any required visa costs will be fully covered,Have you participated in Ideas Lab before?,Tell us about your experience with climate action (Up to 200 words),Share your work (if you'd like),Why do you want to attend Ideas Lab 2026? (Up to 200 words),What do you think is the biggest challenge for climate action today? (Up to 250 words)
0,1,11/24/2025 13:59,11/24/2025 14:14,anonymous,NaN,Gitanjali Sreedhar,NaN,32,Indian,Female,Yes,No,I began my career with environmental litigatio...,Climate change and air pollution: Two sides of...,I am applying to Ideas Lab 2026 because it off...,The most significant challenge for climate act...
1,2,11/24/2025 15:03,11/24/2025 15:08,anonymous,NaN,Saikat Das,NaN,29,Bangladeshi,Male,Yes,No,I have actively engaged with climate action th...,NaN,I am eager to attend Ideas Lab 2026 because it...,I believe the biggest challenge for climate ac...
2,2146,11/28/2025 15:06,11/28/2025 15:11,anonymous,NaN,Peninah esther,peninahmwangagi@gmail.com,16,Kenyan,Female,Yes,No,I am a young climate advocate from Kenya and t...,https://voicesforclimatejustice.netlify.app/,I want to attend Ideas Lab 2026 to learn how E...,The biggest challenge for climate action today...
3,1175,11/27/2025 10:31,11/27/2025 10:55,anonymous,NaN,Datong James,datongjames5@gmail.com,17,Nigerian,Male,Yes,No,Most of my experience with climate action has ...,NaN,I want to attend Ideas Lab 2026 because it fee...,"*People know the problem, but action is slow.\..."
4,1426,11/27/2025 16:46,11/27/2025 16:54,anonymous,NaN,ThabisoApell,ronaldapell313@gmail.com,17,Basotho / Lesotho,Male,Yes,Yes,My project is to produce a solar-hydrogen hybr...,NaN,\nI'm excited to attend Ideas Lab 2026 because...,\nI think the biggest challenge for climate ac...

In [15]:
from CustomTools.llm import embedding

to_emb = df[["Id", "What do you think is the biggest challenge for climate action today? (Up to 250 words)"]];
to_emb.rename(columns={"Id": "id", "What do you think is the biggest challenge for climate action today? (Up to 250 words)": "text"}, inplace=True);

emb = embedding.embed(to_emb);
emb.head()

/var/folders/9q/2ghf9htj1c97myxc343h1ksm0000gn/T/ipykernel_13691/2964911639.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  to_emb.rename(columns={"Id": "id", "What do you think is the biggest challenge for climate action today? (Up to 250 words)": "text"}, inplace=True);
Embedding texts...: 100%|██████████| 43/43 [01:05<00:00,  1.52s/it]

,id,text,d0,d1,d2,d3,d4,d5,d6,d7,...,d3062,d3063,d3064,d3065,d3066,d3067,d3068,d3069,d3070,d3071
0,1,The most significant challenge for climate act...,-0.006436,-0.007685,-0.008690,-0.011478,-0.017436,0.007087,-0.010968,0.004854,...,-0.005442,-0.019517,0.002822,0.005696,0.021271,0.008124,0.000226,-0.011619,-0.004777,0.007048
1,2,I believe the biggest challenge for climate ac...,-0.010027,0.018862,-0.009107,-0.005370,0.006037,-0.030547,0.019756,-0.016776,...,-0.025145,-0.023979,0.018810,0.006471,0.019950,-0.018137,0.007695,-0.003699,-0.008913,-0.002549
2,2146,The biggest challenge for climate action today...,-0.016755,0.000230,-0.004112,0.001506,-0.013567,-0.016241,0.029093,-0.014282,...,-0.030149,-0.014574,0.005696,0.014324,0.025870,-0.004349,0.007336,-0.002866,-0.005724,-0.008558
3,1175,"*People know the problem, but action is slow.\...",0.010461,-0.020120,-0.007108,-0.007195,-0.004996,-0.030127,-0.006612,-0.016608,...,-0.021089,-0.019999,-0.010847,0.013497,0.003756,-0.005204,0.005163,-0.007225,0.006926,0.001268
4,1426,\nI think the biggest challenge for climate ac...,-0.008853,0.020283,-0.009834,-0.016189,-0.020426,-0.032264,0.018723,-0.014650,...,-0.021772,-0.030718,0.021800,0.008588,0.021328,-0.006688,0.004731,-0.002591,-0.018293,0.002306

In [ ]:
ai = pd.DataFrame([["ai", "The biggest challenge for climate action today is the gap between commitments and implementation. Most governments and companies have announced ambitious targets for 2030 and 2050, but the policies, investments, and enforcement mechanisms needed to achieve them are not being deployed at the required scale or speed. This gap stems from three intertwined issues. First, political and economic inertia: short-term costs of decarbonization often deter leaders focused on election cycles or quarterly results. Second, insufficient infrastructure and financing in key sectors such as energy, transport, and industrial production, particularly in developing economies that face higher capital costs. Third, fragmented global coordination: major emitters pursue divergent strategies, and geopolitical tensions slow cooperation on technology, standards, and climate finance. Scientific understanding, public awareness, and available clean technologies are no longer the limiting factors. The core obstacle is turning existing knowledge and pledges into sustained, large-scale action."]], columns=["id", "text"]);
ai_emb = embedding.embed(ai);

Embedding texts...: 100%|██████████| 1/1 [00:00<00:00,  1.87it/s]

   id                                               text
0  ai  The biggest challenge for climate action today...

In [28]:
ai_emb.head()

,id,text,d0,d1,d2,d3,d4,d5,d6,d7,...,d3062,d3063,d3064,d3065,d3066,d3067,d3068,d3069,d3070,d3071
0,ai,The biggest challenge for climate action today...,0.003447,-0.005078,-0.002633,-0.017072,-0.023757,-0.017922,0.003818,0.011598,...,-0.031926,-0.007005,0.010993,0.016669,0.014609,0.004218,0.005702,-0.008291,-0.005395,-0.007247

In [30]:
is_ai = embedding.cosine_similarity(emb, ai_emb);
is_ai.head()

   from  to  similarity
0     1  ai    0.775463
1     2  ai    0.815697
2  2146  ai    0.802610
3  1175  ai    0.669037
4  1426  ai    0.722137

## Dimensionality reduction

In [21]:
import umap
import numpy as np

features = [c for c in emb.columns if c.startswith("d")];
X = emb[features].to_numpy();
reducer = umap.UMAP(n_components=3, random_state=258);

X_reduced = reducer.fit_transform(X);

emb_umap = emb[["id", "text"]];
emb_umap[["u0", "u1", "u2"]] = X_reduced;

emb_umap.head()

/opt/anaconda3/lib/python3.12/site-packages/umap/umap_.py:1952: UserWarning: n_jobs value 1 overridden to 1 by setting random_state. Use no seed for parallelism.
  warn(
/var/folders/9q/2ghf9htj1c97myxc343h1ksm0000gn/T/ipykernel_13691/1859853890.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emb_umap[["u0", "u1", "u2"]] = X_reduced;
/var/folders/9q/2ghf9htj1c97myxc343h1ksm0000gn/T/ipykernel_13691/1859853890.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emb_umap[["u0", "u1", "u2"]] = X_reduced;
/var/folders/9q/2ghf9htj1c97myxc343h1ksm0000gn/T/ipykernel_13691/1859853890.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emb_umap[["u0", "u1", "u2"]] = X_reduced;

,id,text,u0,u1,u2
0,1,The most significant challenge for climate act...,23.014013,-5.072327,9.952839
1,2,I believe the biggest challenge for climate ac...,21.230024,-4.118867,9.192719
2,2146,The biggest challenge for climate action today...,20.870726,-5.481741,10.477864
3,1175,"*People know the problem, but action is slow.\...",21.850306,-6.114676,8.265959
4,1426,\nI think the biggest challenge for climate ac...,21.032351,-4.180305,8.801082

In [22]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler();
emb_umap[["u0", "u1", "u2"]] = scaler.fit_transform(emb_umap[["u0", "u1", "u2"]]);

emb_umap.head()

/var/folders/9q/2ghf9htj1c97myxc343h1ksm0000gn/T/ipykernel_13691/4202548571.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emb_umap[["u0", "u1", "u2"]] = scaler.fit_transform(emb_umap[["u0", "u1", "u2"]]);

,id,text,u0,u1,u2
0,1,The most significant challenge for climate act...,0.873773,0.314580,0.652761
1,2,I believe the biggest challenge for climate ac...,0.551461,0.449133,0.511975
2,2146,The biggest challenge for climate action today...,0.486546,0.256804,0.750004
3,1175,"*People know the problem, but action is slow.\...",0.663527,0.167483,0.340325
4,1426,\nI think the biggest challenge for climate ac...,0.515747,0.440463,0.439438

In [33]:
emb_umap["ai_alert"] = emb_umap["id"].map(is_ai.set_index("from")["similarity"]);
emb_umap.head()

/var/folders/9q/2ghf9htj1c97myxc343h1ksm0000gn/T/ipykernel_13691/4219440155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emb_umap["ai_alert"] = emb_umap["id"].map(is_ai.set_index("from")["similarity"]);

,id,text,u0,u1,u2,ai_alert
0,1,The most significant challenge for climate act...,0.873773,0.314580,0.652761,0.775463
1,2,I believe the biggest challenge for climate ac...,0.551461,0.449133,0.511975,0.815697
2,2146,The biggest challenge for climate action today...,0.486546,0.256804,0.750004,0.802610
3,1175,"*People know the problem, but action is slow.\...",0.663527,0.167483,0.340325,0.669037
4,1426,\nI think the biggest challenge for climate ac...,0.515747,0.440463,0.439438,0.722137

In [39]:
def assign_color(row):
    alert = row["ai_alert"];
    if alert <= 0.40:
        return "#45ce1c"
    elif alert <= 0.55:
        return "#bbdb43"
    elif alert <= 0.70:
        return "#f7e379"
    elif alert <= 0.85:
        return "#f3a134"
    return "#e51f1f"

emb_umap["color"] = emb_umap.apply(assign_color, axis=1);
emb_umap.head()

/var/folders/9q/2ghf9htj1c97myxc343h1ksm0000gn/T/ipykernel_13691/3443189090.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emb_umap["color"] = emb_umap.apply(assign_color, axis=1);

,id,text,u0,u1,u2,ai_alert,color
0,1,The most significant challenge for climate act...,0.873773,0.314580,0.652761,0.775463,#f3a134
1,2,I believe the biggest challenge for climate ac...,0.551461,0.449133,0.511975,0.815697,#f3a134
2,2146,The biggest challenge for climate action today...,0.486546,0.256804,0.750004,0.802610,#f3a134
3,1175,"*People know the problem, but action is slow.\...",0.663527,0.167483,0.340325,0.669037,#f7e379
4,1426,\nI think the biggest challenge for climate ac...,0.515747,0.440463,0.439438,0.722137,#f3a134

In [40]:
emb_umap.to_csv("data.csv", index=False);